body{
  background-color: rgb(198, 149, 89);
}
.container{
  display: flex;
  justify-content: center;
}
.description{
  margin-left: 50px;
  margin-right: 50px;
}
.btn{
  padding: 20px;
  background-color: rgb(231, 209, 183);
  font-size: 15px;
  color: rgb(175, 71, 71);
  border: 1px solid rgb(202, 148, 148);
  box-shadow: 2px 2px 0 2px rgb(182, 129, 129);
}
.delete{
 margin-top: 10px;
}
.showmore{
background-color: rgb(198, 149, 89) ;
border: none;
color: white;
text-decoration: underline;
}